*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../imageslider/img/bgimg2.png);

}
h2{
    color: #daba92;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
}

.mySlides{
    display: none;
}

img{
    vertical-align: middle;
    height: 75vh;
    border-radius: 30px;
    box-shadow: 0px 0px 25px #000, 0px 0px 25px #daba92 ;

}

.slideshow-container{
    width: 80%;
    position: relative;
    margin: auto;
    /* padding-top: 7px; */
    
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0%;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
    border: 5px solid rgb(32, 112, 249);
    color: rgb(32, 112, 249) ;
    transition: 1s;
}

.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
}

.numbertext{
    color: #daba92;
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: 60px;
    left: 30px;
}
